*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#number{
    font-size: 16px;
    padding-top: 2px;
}
#navbar{
    margin-bottom: 20px;
}
#small{
    display: flex;
    /* border: 1px solid black; */
    margin-top: 10px;
}
#title,#price{
    font-size: 22px;
    color: rgb(68, 66, 66);
}
#small>p{
    margin-right: 18px;
    font-size: 14px;
}
#product{
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 20px;
}
#product #price{
    margin-top: 25px;
    font-size: 28px;
    color: rgb(68, 66, 66);
}
#content{
    width: 90%;
    margin: auto;
    /* border: 2px solid green; */
}
#content>img{
    width: 100%;
}
#content>p{
    margin-top: 10px;
}
#image>img{
    width: 450px;
    height: 100%;
    background-color: black;
}
#data{
    width: 700px;
    margin-left: 100px
}
#off,#qty_button,#buton,#payment,#qty,#ship,#from,#below{
    display: flex;
    margin-top: 30px;
}
#off p:nth-child(1){
    margin-right: 20px;
    color: rgb(20, 74, 237);
    background-color: rgb(216, 226, 249);
    padding: 5px 10px;
}
#off p:nth-child(2){
    color: rgb(20, 74, 237);
    padding: 2px 10px;
}
#from>p:nth-child(2){
    margin-left: 30px;
    border: 1px solid  rgb(20, 74, 237);
    padding: 8px 14px;
    border-radius: 5px;
    color: rgb(20, 74, 237);
}
#from>p:nth-child(1),#qty>p:nth-child(1),#ship>p:nth-child(1){
    font-size: 14px;
}

#ship>p:nth-child(2){
    margin-left: 30px;
    font-weight: bold;
}
#qty_button{
    /* border: 1px solid red; */
    width: 150px;
    justify-content: space-between;
    text-align: center;
    margin-left: 20px;
    margin-top: -15px;
}
#qty_button>p{
    border: 1px solid rgb(153, 147, 147);
    width: 50px;
    height: 23px;
    margin-top: 12px;
}
#qty_button>p:nth-child(2){
    /* border: 0px; */
    width: 60px;
}
#payment>p{
    margin-top: 5px;
    font-size: 14px;
}
#payment>img{
    width: 70px;
    height: 50px;
    margin-left: 40px;
    margin-top: -15px;
}
#buton button{
    margin-right: 20px;
    width: 150px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
#buton>button:nth-child(1){
    color: rgb(20, 74, 237);
    border: 2px solid rgb(20, 74, 237);
}

#buton>button:nth-child(2){
    background-color: rgb(20, 74, 237);
    color: white;
    border: 0px;
}
#select{
    border: 0px;
    color:  rgb(20, 74, 237);
}
#below{
    background-color: rgb(213, 209, 209);
    position: sticky;
    top: 5px;
}
#below>h2{
    margin-right: 30px;
    padding: 10px;
    cursor: pointer;
    font-size: 22px;
}
#below>h2:nth-child(1){
    color: white;
    background-color:  rgb(20, 74, 237);
}

#below_content{
    margin-top: 10px;
    margin-bottom: 50px;
}
#below_content .des  {
    font-size: 18px;
    margin-top: 23px;
    margin-bottom: 7px;
    font-weight: bolder;
    color: rgb(30, 29, 29);
}
.bar{
width: 300px;
height: 10px;
border-radius: 5px;
margin-top: 15px;
margin-left: 30px;
background-color:rgb(215, 216, 223)
}
.first{
background-color: rgb(17, 90, 225);
}
#star,.bar_div{
display: flex;
}
.bar_div{
line-height: 35px;
}
#star{
width: 90%;
margin: auto;
justify-content: space-between;
}
#star>div>p{
margin-top: 40px;
font-size: 50px;
}
#star h3{
color: rgb(17, 90, 225);
margin-left: 12px;
font-weight: lighter;
cursor: pointer;
}
#star button{
color: white;
background-color: rgb(17, 90, 225);
padding: 8px 15px;
border-radius: 5px;
width: 150px;
font-size: 17px;
border: 0px;
margin-top: 80px;
margin-bottom: 20px;
cursor: pointer;
}
#below_content>h2{
margin-top: 20px;
}
.checked {
color: orange;
}
table{
width: 100%;
margin-top: 35px;
}

tr{
height: 70px;
padding-left: 50px;
}
tr>td:nth-child(1){
width: 200px;
}
tr>td{
line-height: 30px;
}
.date{
margin-top: 10px;
margin-bottom: 25px;
color: rgb(150, 143, 143);
border-bottom: 1px solid rgb(228, 222, 222);
}
#code{
color: rgb(167, 161, 161);
}
#plus,#minus{
    font-size: 18px;
}
